/* faq.component.css */

.faq {
    padding: 4rem 0;
    background-color: rgb(247, 247, 247, 0.5);
    max-width: 1080px;
    border-radius: 10px;
  }
  
  .faq .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .faq h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .faq .faq-list {
    margin-top: 2rem;
  }
  
  .faq .faq-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
  }
  
  .faq .faq-item:hover {
    transform: translateY(-5px); /* Add a slight hover effect */
  }
  
  .faq .faq-item h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .faq .faq-item p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }
  