.container{
    margin: 0px;
    padding-top: 30px;
    width: 100%;
    min-height: 957px;
    font-size: larger;
    color: rgb(0, 0, 0);
    background-image: url("../assets/back1.jpg");
    background-repeat: no-repeat;
}
a{
    padding: 8px 20px 8px 20px;
    margin: 4px;
    color: black;
    background: rgb(247, 247, 247);
    border-radius: 14px;
}
.bod, .navbar{
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
}
.foot{
    height: 80px;
}
button{
    border-radius: 6px;
    border: 0px;
}