<div class="container" align="center">
  <header>
    <img src="../assets/SOFT.png" style="width: 150px; height: auto;">
    <h1>SOFT CONCI</h1>
    <div class="color-bars">
      <div class="bar orange"></div>
      <div class="bar dark-orange"></div>
      <div class="bar red"></div>
    </div>
  </header>
  
  <hr>

  <nav class="navbar" fxShow="true" fxHide.lt-md="true">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a>
    <a routerLink="/about" routerLinkActive="active">About Us</a>
    <a routerLink="/contacts" routerLinkActive="active">Contact Us</a>
    <a routerLink="/faq" routerLinkActive="active">FAQ</a>
    <a routerLink="/admin" routerLinkActive="active">Fh</a>
  </nav>
  <mat-toolbar style="background: transparent;" fxHide fxShow.lt-md>
    <mat-menu #menu="matMenu" fxShow="true" fxHide.lt-md="true">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/services">Services</button>
      <button mat-menu-item routerLink="/about">About Us</button>
      <button mat-menu-item routerLink="/contacts">Contact Us</button>
      <button mat-menu-item routerLink="/faq">FAQ</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu" fxHide fxShow.lt-md>Menu</button>
  </mat-toolbar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer"></footer>
</div>
