<section class="admin">
  <div class="container">
    <h2>Form Requests</h2>

    <div *ngIf="posts.length > 0; else noData">
      <div class="post-card" *ngFor="let post of posts">
        <div class="post-content">
          <p><strong>Name:</strong> {{ post.name }}</p>
          <p><strong>Email:</strong> {{ post.email }}</p>
          <p><strong>Message:</strong> {{ post.message }}</p>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <p>No form data available.</p>
    </ng-template>
  </div>
</section>
